<div class="backimage">
  <div class="row">
    <main class="main">
      <span class="blinking-cursor">_</span>
      <%#<p> HOME </p>%>
    </main>
    <div class="sidebar">
      <div class="menu-options">F</div>
      <div class="menu-options">S</div>
      <div class="menu-options">тЪкя╕П</div>
      <div class="menu-options">ЁЯО╡</div>
      <div class="menu-options">тМия╕П</div>
      <div class="menu-options">ЁЯТ╛</div>
      <%#<select>%>
        <%#<option value="T">T</option>%>
        <%#<option value="R">R</option>%>
        <%#<option value="X">X</option>%>
      <%#</select>%>
    </div>
  </div>
</div>
