<div class="backimage">
  <main class="main">
    <%#<p> HOME </p>%>
  </main>
  <div class="sidebar">
    <select>
      <option value="T">T</option>
      <option value="R">R</option>
      <option value="X">X</option>
    </select>
  </div>
</div>
