<div class="backimage">
  <div class="row">
    <textarea class="main_text" autofocus>
      <%#<span class="blinking-cursor">_</span>%>
    </textarea>

    <div class="sidebar">
      <div class="menu-row">
        <div class="menu-item menu-main">F</div>
        <div class="menu-item menu-option">F1</div>
        <div class="menu-item menu-option menu-option-selected">F2</div>
        <div class="menu-item menu-option">F3</div>
      </div>
      <div class="menu-row">
        <div class="menu-item menu-main">S</div>
        <div class="menu-item menu-option">S1</div>
        <div class="menu-item menu-option">S2</div>
        <div class="menu-item menu-option menu-option-selected">S3</div>
      </div>
      <div class="menu-row">
        <div class="menu-item menu-main">⚪️</div>
        <div class="menu-item menu-option menu-option-selected">B1</div>
        <div class="menu-item menu-option">B2</div>
        <div class="menu-item menu-option">B3</div>
      </div>
      <div class="menu-row">
        <div class="menu-item menu-main">🎵</div>
        <div class="menu-item menu-option menu-option-selected">M1</div>
        <div class="menu-item menu-option">M2</div>
        <div class="menu-item menu-option">M3</div>
      </div>
      <div class="menu-row">
        <div class="menu-item menu-main">⌨️</div>
        <div class="menu-item menu-option">K1</div>
        <div class="menu-item menu-option menu-option-selected">K2</div>
        <div class="menu-item menu-option">K3</div>
      </div>
      <div class="menu-row">
        <div class="menu-item menu-main">💾</div>
        <div class="menu-item menu-option">md</div>
        <div class="menu-item menu-option">ml</div>
        <div class="menu-item menu-option menu-option-selected">sy</div>
      </div>
    </div>
  </div>
</div>
