<div class="body__mask body__mask--dark">
  <div class="row">
    <textarea class="main main--dark" autofocus></textarea>
    <%#<span class="blinking-cursor">_</span>%>

    <div class="menu">
      <div class="menu__row">
        <div class="menu__item menu__item--dark">F</div>
        <div class="menu__item menu__option menu__option--dark">F1</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">F2</div>
        <div class="menu__item menu__option menu__option--dark">F3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item menu__item--dark">S</div>
        <div class="menu__item menu__option menu__option--dark">S1</div>
        <div class="menu__item menu__option menu__option--dark">S2</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">S3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item menu__item--dark">⚪️</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">B1</div>
        <div class="menu__item menu__option menu__option--dark">B2</div>
        <div class="menu__item menu__option menu__option--dark">B3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item menu__item--dark">🎵</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">M1</div>
        <div class="menu__item menu__option menu__option--dark">M2</div>
        <div class="menu__item menu__option menu__option--dark">M3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item menu__item--dark">⌨️</div>
        <div class="menu__item menu__option menu__option--dark">K1</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">K2</div>
        <div class="menu__item menu__option menu__option--dark">K3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item menu__item--dark">💾</div>
        <div class="menu__item menu__option menu__option--dark">md</div>
        <div class="menu__item menu__option menu__option--dark">ml</div>
        <div class="menu__item menu__option menu__option--dark menu__option--selected-dark">sy</div>
      </div>
    </div>
  </div>
</div>
