<div class="backimage">
  <div class="row">
    <textarea class="main" autofocus></textarea>
      <%#<span class="blinking-cursor">_</span>%>

    <div class="menu">
      <div class="menu__row">
        <div class="menu__item">F</div>
        <div class="menu__item menu__option">F1</div>
        <div class="menu__item menu__option menu__option--selected">F2</div>
        <div class="menu__item menu__option">F3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item">S</div>
        <div class="menu__item menu__option">S1</div>
        <div class="menu__item menu__option">S2</div>
        <div class="menu__item menu__option menu__option--selected">S3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item">⚪️</div>
        <div class="menu__item menu__option menu__option--selected">B1</div>
        <div class="menu__item menu__option">B2</div>
        <div class="menu__item menu__option">B3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item">🎵</div>
        <div class="menu__item menu__option menu__option--selected">M1</div>
        <div class="menu__item menu__option">M2</div>
        <div class="menu__item menu__option">M3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item">⌨️</div>
        <div class="menu__item menu__option">K1</div>
        <div class="menu__item menu__option menu__option--selected">K2</div>
        <div class="menu__item menu__option">K3</div>
      </div>
      <div class="menu__row">
        <div class="menu__item">💾</div>
        <div class="menu__item menu__option">md</div>
        <div class="menu__item menu__option">ml</div>
        <div class="menu__item menu__option menu__option--selected">sy</div>
      </div>
    </div>
  </div>
</div>
