<div class="backimage">
  <div class="row">
    <main class="main">
      <span class="blinking-cursor">_</span>
      <%#<p> HOME </p>%>
    </main>
    <div class="sidebar">
      <div class="menu-options">F</div>
      <div class="menu-options">S</div>
      <div class="menu-options">🔘</div>
      <div class="menu-options">🎶</div>
      <div class="menu-options">⌨️</div>
      <div class="menu-options">💾</div>
      <%#<select>%>
        <%#<option value="T">T</option>%>
        <%#<option value="R">R</option>%>
        <%#<option value="X">X</option>%>
      <%#</select>%>
    </div>
  </div>
</div>
