.backimage {
    width: 100%;
    height: 100vh;
    /*background: rgba(0,0,0,0.7);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border-width: thin;
    border-color: grey;
    border-style: dashed;
    height: 80%;
    width: 60%;
    margin: 2em;
    padding: 2em;
}
